.wrap {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrap__content {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.layout__content {
  flex: 1;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
}

.layout__page {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}
